$dark-blue:hsl(233, 26%, 24%);
$lime-green:hsl(136, 65%, 51%);
$bright-Cyan: hsl(192, 70%, 51%);
$grayish-Blue: hsl(233, 8%, 62%);
$light-grayish-Blue: hsl(220, 16%, 96%);
$very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

/*font weight*/
$bold-weight:300;
$very-bold-weight:400;
$bolder:700;

/*breakpoints*/
$sm-screen:40em;
$bg-screen:90em;
$md-screen:75em;

/*width*/
$width:75%;